/* Import 'Poppins' font from Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');


/* Reset the default padding and margin */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #F7F7F7;
}

/* Style for navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #ece7e7;
  color: #0a0a0a;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

/* Style for h2 in navbar */
.navbar h2 {
  margin: 0;
  font-size: 1.5rem;
}

/* Style for span (username) in h2 */
.navbar h2 span {
  color: #1DB954;
  font-weight: bold;
}

/* Style for p in navbar */
.navbar p {
  width: 300px;
  margin: 0;
  margin-right: 10px;
  transition: opacity 1s ease-in-out;
}

#loginSection {
  background-color:#ece7e7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  border: double 3px transparent;
}


#loginButton {
    width: 100%;
    margin: 20px 0;
    padding: 15px 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 600;
    background-color: #1ed760;
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

#loginButton:hover {
    background-color: #1db954;
    transform: translateY(-3px);
}

#loginButton:focus {
    outline: none;
}

#loginSection h1 {
    font-size: 42px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #000000;
    letter-spacing: 3px;
    font-family: 'Poppins', sans-serif;
}

#loginSection h2 {
    font-size: 28px;
    font-weight: 400;
    line-height: 1.6;
    text-align: center;
    color: #070707;
    letter-spacing: 2px;
}

#authorizedSection {
  background-color: white;
}

#logoutButton {
  display: inline-block;
  padding: 5px 16px;
  width: 10%;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  border: 1px solid transparent;
  border-image: linear-gradient(to right, #007bff, #6c757d, #17a2b8, #28a745, #ffc107, #dc3545, #f39c12, #007bff);
  border-image-slice: 1;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 0 1px 0 rgba(27, 31, 35, 0.1), inset 0 1px 2px rgba(255, 255, 255, 0.25);
  transition: .2s cubic-bezier(.3,0,.5,1);
  text-decoration: none;
  background-image: linear-gradient(to right, #007bff, #6c757d, #17a2b8, #28a745, #ffc107, #dc3545, #f39c12, #007bff);
  background-size: 200% 200%;
  background-position: 0 100%;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

#logoutButton:hover {
  transform: translateY(-3px);
}

#logoutButton:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(3, 102, 214, 0.3);
}

#top {
  position: fixed;
  bottom: 2%;
  right: 2%;
}

#darkModeButtonLogin{
  display: block;
  margin: auto;
}


/* Style for dark mode and dark mode button */
#darkModeButtonLogin,
#darkModeButtonAuthorized {
  outline: none;
  border: none;
  font-size: 1.5em;
  transition: transform 0.2s ease-in-out;
  color: '#000'; 
  background-color: '#ece7e7'; 
}


#darkModeButtonAuthorized{
  margin-left: 10%;
}

#darkModeButtonLogin,
#darkModeButtonAuthorized:focus {
  outline: none;
  border: none;
}

#darkModeButtonLogin:hover,
#darkModeButtonAuthorized:hover {
  transform: translateY(-3px);
}

body.dark-mode {
  background-color: rgba(4, 4, 4);
  color: #ffffff;
}


.dark-mode .navbar {
  background-color: rgba(4, 4, 4);
  color: #ffffff;
  box-shadow: 0px 5px 5px 0px rgba(30, 215, 96, 0.1);
}

.dark-mode #authorizedSection {
  background-color: rgba(4, 4, 4);
  color: #ffffff;
}

.dark-mode #loginSection {
  background-color: rgba(4, 4, 4);
  color: #ffffff;
  border: 1px solid #1ed760;
}

.dark-mode #loginSection h1,
.dark-mode #loginSection h2 {
  color: #ffffff;
}

.dark-mode #songSearch {
  background-color: rgba(4, 4, 4);
  color: #ffffff;
}

.dark-mode .card {
  background: linear-gradient(135deg, #232323 0%, rgba(4, 4, 4) 100%);
  border: 1px solid #1ed760;
}


.dark-mode #darkModeButton {
  background-color: #ffffff;
  color: #000000;
}

.dark-mode .loader-container {
  background-color: rgba(0, 0, 0, 0.8);
}

.dark-mode .loader {
  border: 8px solid rgba(4, 4, 4);
  border-top: 8px solid #ffffff;
}

.dark-mode .loader::before {
  color: #ffffff;
}

.dark-mode #search {
  background-color: rgba(4, 4, 4);
}

#search {
  position: -webkit-sticky;
  position: sticky;
  top: 0; 
  z-index: 1000;
  background-color: #ece7e7;
}

/* Style for search bar */
#songSearch {
  width: 80%;
  padding: 10px;
  border: 1px solid #1ed760;
  border-radius: 15px;
  margin: 20px 10%;
  font-size: 16px;
  background-color: #f0f0f0;
  transition: all 0.3s ease-in-out;
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


#songSearch:focus {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}


#songSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#song-list {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  gap: 0.8rem;
  margin: 10px;
}

.card {
  width: 310px;
  height: 300px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
  padding: 3px 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  background: linear-gradient(135deg, #84fab0 0%, #8fd3f4 100%);
}

.card_video {
  flex-grow: 1;
  position: relative;
  width: 100%;
}

.card_video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 97%;
}

.card_info {
  padding: 5px;
  height: 40px;
  box-sizing: border-box;
}

.card:hover {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
}

#song-list li:hover {
  transform: scale(1.05);
}

#song-list p, iframe {
  margin: 10px 0;
  outline: none;
  border: none;
}

#loadingAnimation {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.loader {
  position: relative;
  width: 80px;
  height: 80px;
  border: 8px solid #f3f3f3; 
  border-top: 8px solid #3498db; 
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

.loader::before {
  content: "♫"; 
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 24px;
  transform: translate(-50%, -50%);
  color: #3498db;
  animation: pulse 1s infinite alternate;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes pulse {
  0% { transform: translate(-50%, -50%) scale(1); }
  100% { transform: translate(-50%, -50%) scale(1.1); }
}



@media (max-width: 600px) {

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .navbar {
    padding: 10px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    margin-left: 0;
  }  

  .navbar h2 {
    margin: 0;
    font-size: 16px;
  }

  /* Style for span (username) in h2 */
  .navbar h2 span {
    font-size: 16px;
  }

  .card {
    width: 98%; 
    height: 300px;
    margin: 5px;
    padding: 2px;
  }
    
  .card_info {
    font-size: 14px;
    height: 35px;
  }

  #userName img {
    height: 10px;
    width: 10px;
  }

  .navbar p {
    display: none;
  }

  #song-list {
    gap: 0;
  }

  #songSearch {
    width: 95%;
    border-radius: 15px;
    margin: 5px 5px;
    font-size: 16px;
    border:1px solid #1ed760;
  }

  #logoutButton {
    padding: 5px 5px;
    width: 20%;
    font-size: 14px;
  }
}