@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #F7F7F7;
    margin-right: 15px;
}

/* Style for navbar */
.navbar {
  display: flex;
  justify-content: space-between;  /* Arrange items with space in-between */
  align-items: center;  /* Align items vertically in the center */
  padding: 20px;
  background-color: #282828;  /* Dark grey color */
  color: #fff;  /* White text color */
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  margin-left: 40px;
}

/* Style for h2 in navbar */
.navbar h2 {
  margin: 0;  /* Remove default margins */
  font-size: 1.5rem;  /* Make the font size larger */
}

/* Style for span (username) in h2 */
.navbar h2 span {
  color: #1DB954;  /* Spotify Green */
  font-weight: bold;  /* Bold font weight */
}

/* Style for p in navbar */
.navbar p {
  margin: 0;  /* Remove default margins */
}


#loginSection {
    background-color: #f0f0f0; /* Light grey color */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    border: double 3px transparent;
}
#loginButton {
    padding: 15px 30px;
    font-size: 18px;
    font-weight: 600;
    background-color: #1ed760;
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

#loginButton:hover {
    background-color: #1db954;
    transform: translateY(-3px);
}

#loginButton:focus {
    outline: none;
}

#loginSection h1 {
    font-size: 42px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #000000;
    letter-spacing: 3px;
    font-family: 'Poppins', sans-serif;
}

#loginSection h2 {
    font-size: 28px;
    font-weight: 400;
    line-height: 1.6;
    text-align: center;
    color: #070707;
    letter-spacing: 2px;
}

#authorizedSection {
  background-color: white;
}

#songSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#song-list {
  display: flex;
  align-items: flex-start; /* Align the items at the top */
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  gap: 0.3rem; /* Space between the cards */
}

.card {
  width: 200px; /* Set a fixed width */
  height: 300px; /* Set a fixed height */
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  overflow: hidden; /* To ensure that the border-radius applies to the video as well */
  padding: 5px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out; /* For smooth hover effect */
  background: linear-gradient(135deg, #84fab0 0%, #8fd3f4 100%); /* Color gradient background */
}

.card_video {
  flex-grow: 1; /* Allows the video to take up the remaining space */
  position: relative;
  width: 100%;
}

.card_video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 97%;
}

.card_info {
  padding: 10px;
  height: 40px; /* Fixed height to ensure that it's the same on all cards */
  box-sizing: border-box; /* To include padding in the height */
}

.card:hover {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3); /* Increase shadow on hover */
  transform: scale(1.05); /* Slightly increase size on hover */
}

  

#song-list li:hover {
  transform: scale(1.05);
}

#song-list p, iframe {
  margin: 10px 0;
  outline: none;
  border: none;
}

#loadingAnimation {
  display: none; /* This is set to block in JavaScript when needed */
  position: fixed; /* Fixed positioning */
  top: 50%; /* Half from the top */
  left: 50%; /* Half from the left */
  transform: translate(-50%, -50%); /* Pull the element back exactly half its width and height */
  z-index: 9999; /* Optional: this makes sure the loading animation is above all other elements */
}


.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Optional: dark overlay */
  z-index: 9999; /* To ensure loader is on top */
}

.loader {
  position: relative;
  width: 80px;
  height: 80px;
  border: 8px solid #f3f3f3; 
  border-top: 8px solid #3498db; 
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

.loader::before {
  content: "♫"; /* Or "♪", or even an SVG */
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 24px;
  transform: translate(-50%, -50%);
  color: #3498db;
  animation: pulse 1s infinite alternate;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes pulse {
  0% { transform: translate(-50%, -50%) scale(1); }
  100% { transform: translate(-50%, -50%) scale(1.1); }
}

.navbar p {
  margin-right: 10px;
  transition: opacity 1s ease-in-out;
}

@media (max-width: 600px) {
  .card_info {
    font-size: 14px;
  }

  #userName img {
    height: 30px;
    width: 30px;
  }

  .navbar p {
    font-size: 12px;
  }
}